<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CarouselClone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94ECFC201BE9A45100F2F2D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94ECFC341BE9A45100F2F2D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94ECFC3F1BE9A45100F2F2D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
